@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap");
* {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-align: center;
  color: rgb(243, 236, 236);
}
